div {
    width: 98%;
    align-items: center;
    position: relative;
    left: 1%;
}
.custom-toolbar {
  background-color: #454e53;
  color: white;
  padding: 0 5px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 98% !important;
  align-items: center;    
  left: 1%;
}
img {
  width: 4rem;
}
.inspection-table {
  width: 100%;
  border-collapse: collapse;
  overflow-y: hidden;
  overflow-x: hidden;
  display: inline;
}
.th-row,
.inspection-td {
  text-align: left;
  border-bottom: 1px solid #ccc;
}
.th-row {
  margin-bottom: 0;
  padding: 60px 10px 0px 10px;
  background-color: #f5f5f5;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
}
.inspection-td {
  padding: 20px 40px 20px 20px;
  font-size: 1rem;
}
.copy-button {
  background-color: #f78e2b;
  color: white !important;
  border: none;  
  text-align: center;  
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
  left: 30px;
}
.copy-button:hover {
   background-color: #575F64;  
}
.copy-button:focus {
  outline: none;
  background-color: #00b300 ;
}

 @media only screen and (max-width: 768px) {
    .copy-button {        
        left: -5px;
      }      
  }