<div mat-elevation-z8>
<mat-toolbar class="custom-toolbar">
 <img src="../assets/InspLogo.png" /> 
  <span>Inspection List</span>
</mat-toolbar>
<mat-table class="inspection-table" [dataSource]="inspections" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <mat-header-cell class="inspection-td"  *matHeaderCellDef>Inspection Type</mat-header-cell>
    <mat-cell *matCellDef="let inspection">{{ inspection.name }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="location">
    <mat-header-cell class="inspection-td"  *matHeaderCellDef>Location</mat-header-cell>
    <mat-cell *matCellDef="let inspection">{{ inspection.location }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="assignedTo">
    <mat-header-cell class="inspection-td" *matHeaderCellDef>Assigned to</mat-header-cell>
    <mat-cell *matCellDef="let inspection">
      {{ inspection.assignedToPerson.name }}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="copyRequest">
    <mat-header-cell class="inspection-td" *matHeaderCellDef>Send Copy Request</mat-header-cell>
    <mat-cell *matCellDef="let inspection">
      <button mat-button (click)="copyInspection(inspection)" class="copy-button" >
        Copy
      </button>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="['name', 'location', 'assignedTo', 'copyRequest']" class="th-row"></mat-header-row>
  <mat-row *matRowDef="let row; columns: ['name', 'location', 'assignedTo', 'copyRequest']"></mat-row>
</mat-table>
</div>